@font-face {
    font-family: 'OCRAExtendedRegular';
    src: url('ocraextended.eot');
    src: url('ocraextended.eot') format('embedded-opentype'),
         url('ocraextended.woff') format('woff'),
         url('ocraextended.ttf') format('truetype'),
         url('ocraextended.svg#OCRAExtendedRegular') format('svg');
}
